.emacs.bak/
__pycache__/
output/
bigtest/protTransAln/
bigtest/protTransMap/
bigtest/decorators/
bigtest/mapAnnots/
data/
*.bb
/hub/checked.done
/hub/hg38/gencode.v44.bed
/hub/hg38/gencode.v45.bed
/hub/hg38/gencodeV45_blat_deco.html
